.card_outer {
    width: 600px;
    border-radius: 10px;
    color: white;
}

.upper {
    padding: 5%;
    background-image: url(../../assets/cloud_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 220px;
    display: grid;
    align-items: center;
}

.lower {
    background-color: #383b47;
    border-radius: 0 0 10px 10px;
    height: 150px;
    display: grid;
}

.lower_col1 {
    text-align: start;
}

.lower_col3 {
    text-align: end;
}

.description {
    font-size: larger;
    font-weight: bolder;
    text-transform: capitalize;
}

.separator-left {
    border-left: 1px solid gray;
    height: 60px;
}

.separator-right {
    border-right: 1px solid gray;
    height: 60px;
}


@media (max-width:700px) {
    .card_outer {
        width: 400px;
    }

    .upper {
        height: 300px;
        background-position: center;
    }

    .lower {
        height: 300px;
    }
}

@media (max-width:576px) {
    .card_outer {
        width: 400px;
    }
}


@media (max-width:600px) {
    .card_outer {
        width: 300px;
    }

    .upper {
        height: 300px;
        background-position: center;
    }

    .lower {
        height: 200px;
    }

    .separator-left {
        visibility: hidden;
        text-align: center;
    }

    .separator-right {
        visibility: hidden;
        text-align: center;

    }

    .lower {
        height: 300px;
        padding: 10%;

    }

    .lower_col1 {
        text-align: center;
    }

    .lower_col3 {
        text-align: center;
    }
}