.card_outer {
    width: 600px;
    align-items: center;
    border-radius: 8px;
    color: white;
}

.upper {
    padding: 5%;
    background-image: url(../../assets/cloud_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 200px;
}

.lower {
    padding: 5%;
    background-color: #383b47;
    border-radius: 0 0 8px 8px;
    height: 130px;
}

.description {
    font-size: larger;
    font-weight: bolder;
    text-transform: capitalize;
}

.separator-left {
    border-left: 1px solid gray;
    height: 60px;
}

.separator-right {
    border-right: 1px solid gray;
    height: 60px;
}