.outer {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

input {
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: #1f2128;
    color: white;
}

@media (max-width:500px) {
    .outer {
        padding: 10%;
        margin-left: 23%;
        width: 200px;
    }
}