.outer {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

input {
    width: 400px;
    border-radius: 10px;
    border: none;
    background-color: #1f2128;
    color: white;
}

button {
    height: 50px;
    width: 100px;
}