.headerOuter {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #213d7b;
    padding: 2%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 500px
}

.appTitle {
    padding-left: 2%;
    color: white;
}