.App {
  background-image: url('./assets/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1e2027;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  position: relative;
}